.about-section {
  padding: 90px 40px 40px 70px;
  background-image: url(../backgrounds/4.jpg);
  background-size: 1440px auto; 
  background-attachment: fixed;
}

.question-box ~ .detail-box,
.question-box ~ .answer-box {
  display: none;
}

.answer-box,
.question-box,
.detail-box {
  border: 2.5px solid transparent;
  border-radius: 20px;
  padding: 14px clamp(18px, 2.5vw, 28px);
  margin: 17px 0px;
  display: inline-block;  /* wraps tightly around text */
  width: fit-content;
  max-width: 75%;
}
 
.answer-box {
  color: beige;
  background: rgba(255,255,255,0.3);
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.2px; 
  padding: 14px;
}

.question-box {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.intro-box {
  color: beige; 
  font-size: 22px;
  font-weight: bold;

}

.detail-box {     
  align-self: flex-start;     /* stops flex from stretching */
  padding: 14px 14px 14px 14px;;                    
  border: 2px solid beige;
  font-size: 18px;
  font-weight: 700;
  color: beige;
  font-weight: bold;
}

/* h3 only apply in question box */
h3 {
  margin: 0px;
  font-size: 20px;
  font-family: 'Nunito';
  font-weight: 900;
  color: beige;
}

/* === Link styles for about page === */
.intro-box a {
  color: beige; 
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 12px;
  display: inline-block;
}

.img-toggle {
  position: relative;   /* 👈 THIS makes .arrow-text stick to the container */
  display: inline-block;  
  width: 330px; 
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid white;
  background: transparent;
  padding: 0; 
}

.img-toggle img {
  width: 100%;
  height: auto;
  display: block; 
  user-select: none;
  -webkit-user-drag: none;
}

.image-container {
  display: inline-block; /* keeps image only */
  vertical-align: middle; /* align with arrow */
}

.python-c {
  padding-top: 26px;
  align-self: center;
  font-family: 'JetBrains Mono';
  margin: 0;
  font-size: 26px;
  color: beige;
  text-align: left;
  white-space: normal;
}

a.python:hover { 
  color: darkblue; 
}