.display {
  display: flex;
  justify-content: center; /* centers vertically */
  align-items: center;     /* centers horizontally */
  text-align: center;      /* centers inline text */
  padding: 90px 20px;
}

/* === Flex Layout Grouping === */
.link-row,
.gallery,
.modal-img-wrapper  {
  display: flex;
}

h5,
p { 
  width: 100%;
  max-width: 1200px;
  text-align: left;
}

h5 {
  margin: 20px auto 25px; 
  font-size: 24px;          
  font-weight: 800;      
}

.p-center {
  text-align: center;
}

/* === link style for github and other links === */
.github-logo {
  margin-right: 8px; 
}

/* Back link to portfolio */
.back-link {
  margin-top: 50px;
  font-size: 24px !important; 
}

/* === Pictures === */
.gallery-section {
  max-width: 800px;      
  margin: 40px auto;
}

.gallery {
  position: relative;
  width: 100%;
  margin: 40px auto;
  justify-content: center;
}

/* Hide all images by default */
.gallery-item {
  display: none;
  max-height: 320px;
  border-radius: 8px;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.gallery-item.active {
  display: block;
}

/* === Gallery expanded view=== */
body.modal-open {
  overflow: hidden;
  height: 100vh; 
}

.modal,
.modal-img-wrapper {
  justify-content: center;
  align-items: center;
}

.modal-img-wrapper {
  border-radius: 20px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
}

.modal-content {
  max-width: 100%;
  max-height: 90vh;
  width: auto;      /* Keeps aspect ratio */
  height: auto;     /* Keeps aspect ratio */
  object-fit: contain; 
  display: block;
}

.modal {
  display: none; /* Switch to 'flex' via JS when opening */
  position: fixed;
  inset: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6); /* Darker overlay usually helps images pop */
  backdrop-filter: blur(8px);
}

.detail-item {
  display: none;
}

.detail-item.active {
  display: block;
}

.video {
  max-width: 700px;     
  margin: 20px auto 40px auto;
}

.video video {
  width: 100%;
  max-height: 700px;
  aspect-ratio: auto;     /* allows natural portrait or landscape */
  object-fit: contain;    /* prevents stretching for portrait */
  border-radius: 16px;
}

/* Navigation Arrows for work page */
.nav {
  position: absolute;
  top: 80vh;       
  transform: translateY(0);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 11;
}
