@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700&display=swap');

/* === Portfolio Section === */
.portfolio-section {
  text-align: center;
  padding: 60px 40px; 
  background-image: url(../backgrounds/2.webp);
}

/* === Grid Container === */
.portfolio-box-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px 40px; 
  padding: 20px 40px; 
  margin-top: 40px;
  max-width: 2560px;   
  margin-left: auto;   
  margin-right: auto;
  justify-items: center;
}

/* === Portfolio Box Base === */
.portfolio-box {
  background: rgba(255,255,255,0.3);
  border-radius: 20px;
  padding: 20px 25px 25px;
  text-align: center;
  width: 100%;
  transform-origin: center;
}

/* Titles & Text */
.portfolio-box h2 {
  margin: 10px 0 5px;
  font-size: 24px;
  color: beige;
  font-family: 'Nunito';
  font-weight: 900;
}

.portfolio-box p {
  margin: 0 0 8px;
  font-size: 17px;
  color: beige;
  font-family: 'Nunito';
  font-weight: 700;
}

/* === Images === */
.portfolio-box img {
  width: 100%;
  height: 220px; 
  object-fit: cover;
  border-radius: 20px;
}

/* === Hover === */
.portfolio-box:hover {
  transform: scale(1.03);
  border: 2px solid #7F2B0A;
  z-index: 10;
  position: relative;
}
.portfolio-box:hover h2,
.portfolio-box:hover p {
  color: #9E7506;
}

/* === Column spans remain the same === */
.portfolio-box:nth-child(1) { grid-column: span 3; }
.portfolio-box:nth-child(2) { grid-column: span 6; }
.portfolio-box:nth-child(3) { grid-column: span 3; }
.portfolio-box:nth-child(4),
.portfolio-box:nth-child(5),
.portfolio-box:nth-child(6) { grid-column: span 4; }
.portfolio-box:nth-child(7),
.portfolio-box:nth-child(8) { grid-column: span 6; }



/* === Filter Buttons === */
.filter-buttons {
  text-align: center;
}

.filter-buttons button {
  font-size: 22px;
  padding: 8px 12px;
  margin: 10px;  /* Space between buttons */
  background: rgba(255,255,255,0.2);
  border: 2px solid transparent;
  color: #7F2B0A;
  border-radius: 16px;
  cursor: pointer;
  font-family: 'Nunito';
  font-weight: 700;
}

/* Hover only for non-active buttons */
.filter-buttons button:hover:not(.active) {
  background: linear-gradient(to right, #FFD700, #FFC107); 
  color: #7F2B0A;
  border: 2px solid #33CCCC;
}

.filter-buttons button.active {  
  background: rgba(255,255,255,0.2);
  color: #9E7506;
  border: 2px solid #7F2B0A;
};

